 /* Main body */ 
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e3f0e7;}

.center {
    text-align:center}

p {
    font-size: 20px;
}
.wrapper { 
    position: relative;
    margin: auto;
    min-width:850px;
    /* border-style: solid; */
}

.wrapper .logo{
    margin-top: -50px;
    text-align: center;
    margin-bottom: -50px;
    width: 60px;
    height: 60px;}

.wrapper img{
    width: 400px;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;}


h1{ 
    color: #115448;
    margin-top: 0px;
    text-align: center;
    display: flex;
    justify-content: center;} 

h3 {
    text-align: center;
    font-size: 20px;
}

header{ 
    margin-top: 20px;
    background-color: #e3f0e7;
    padding-bottom: 40px;}
    
p {
    color: #3b625a;}

/* .linkcontainer{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
} */

.flexcontainer {
    padding-bottom: 100px;
    /* border-style: solid; */
    background-color: #FFFFFF;
    justify-content:center ;
    display:flex;
    flex-direction: horizontal;
    width: 100%;
    gap: 30px;}

.flexcolumncontainer {
    padding-bottom: 100px;
    background-color: #FFFFFF;
    justify-content: space-between;
    display: block;
    max-width: 50%;
    gap: 30px;}
    
#verticalflex{
    flex-direction: vertical;}                

h2 {
    color: #3b625a;
    text-align: center;}

.box{
    width: 600px;
    height: 600px;
    font-size: 10; 
    display:flex;
    /* border-style:solid; */
    justify-content: center;
    align-items: center;}

.box img{
    width : 400px;
    height: 400px;
    border: #115448;}

.button {
    width:120px;
    height:30px;
    background-color: #115448;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;}

.button:hover{
    background-color: #de9f7e;
    transition:0.5s;
    color:#115448}

/* Footer */
.semicircle {
    padding-top: 50px;
    position: relative;
    background: #115448;
    height: 90px;}

.semicircle img{
    position: absolute;
    left: 50%;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 1px;
    width: 104.5px;
    height: 105px;
    border-radius: 60%;
    background: #115448;
    transform: translateX(-50%) translateY(-90%);}

footer {
    font-size:15px;
    text-align: center;
    clear: right;
    padding-bottom:20px;
    background-color: #e3f0e7;}	

footer .flexcontainer{
    padding-bottom: 0;
    background-color: #e3f0e7;
    height: 300px;}

footer .box{
    height:300px}

footer input{
   border: none; 
   border-bottom:solid 2px #115448; 
   background-color: #e3f0e7; 
   text-align: center;}

/* Navigation bar  */
nav ul { 
    list-style-type:none}

nav li {
    display: inline;}

nav :hover{
    color:#de9f7e}

nav a {	
    margin: 30px;
    color: #3b625a;
    text-decoration: none;
    padding-right: 10px;} 
/* Login Form */

.loginFormBackground{
    margin-top: 100px;
    background-size: cover;
    content: "";
    background-image: url('./img/opaquebg.png');
    width:400px;
    height:400px;}

.loginForm {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.loginForm input{
    border-radius: 4px;
    width:400px;
    height:30px;
    padding: 2px
}

/* Menu */

.addButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #115448; 
    color: white;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    margin-left: 20px;
}

.addButton:hover {
    background-color: #de9f7e;
}

.leftcol {
    float: left;
    width: 170px;
    /* border-style: solid; */
    text-align: left;
    margin-left: -30px;
    margin-top: 90px;
}

.rightcolumn { 
    margin-left: 180px;
}

.sidenav {
    position: fixed;
    max-height: calc(100vh - 500px); /* Adjust 50px to be the top and bottom margin you want */
    overflow-y: auto;
    font-size: large;
    /* border-style: solid; */
    
}


.styling {
text-decoration: none;
padding: 0.5rem;
border: 10px solid #333333;

}

/* Cart */
table{
    border:1px #115448 solid;
    width:800px;
}


th,td {
    padding:20px;
    text-align: center;
    color:#3b625a
}

label {

    text-align: right;
    padding-right:30px;
    margin-top: 10px;
    width:100px;
    float:left;
    color: #42231b;
}

.customer_info input, textarea {
    border: none; 
    border-bottom:solid 2px #115448; 
    background-color: #e3f0e7; 
    margin-top:10px;
    width:600px;

}

.customer_info{
    background-color: #e3f0e7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
p a{
    color: #3b625a;
}

p a:hover{
    color:#de9f7e
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.editButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #115448; 
    color: white;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

.editButton:hover {
    background-color: #de9f7e;
}

.addNewItemButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #115448; 
    color: white;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    margin-left: 180px;
}

.addNewItemButton:hover {
    background-color: #de9f7e;
}
